<!DOCTYPE html>
<html lang="ru" ng-app="app">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta charset="UTF-8">
  <title>Vk Sevanimals message cloner</title>
  <style>
      body {
          margin: 0;
          font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
          font-size: 13px;
      }
      .main {
          overflow-y:scroll;
          height: 660px;
          width: 885px;
      }
      .btn {
          color: #2a5885;
          height: 30px;
          line-height: 30px;
          padding: 0 15px;
          border: double #2a5885;
      }
      a:hover {
          background-color: #e4eaf0;
      }
      table {
          border-collapse: collapse;
      }
      img {
          margin: 1px;
      }
      .metaInfo {
          color: darkgreen;
          display: inline;
          margin: 20px;
      }
      .avatar {
          width: 32px;
          height: 32px;
      }
      .paddingTop20px {
          padding-top: 20px;
      }
  </style>
</head>

<body>
    <div ng-controller="app.groupSelectController">
        <a class="btn" ng-href="/vkapp-test/#/{{data.selectedOption.id}}">Список постов</a>
        <a class="btn" ng-href="/vkapp-test/#/{{data.selectedOption.id}}/one-post">Репост по ссылке</a>
        <a class="btn" ng-href="/vkapp-test/#/{{data.selectedOption.id}}/search">Поиск по постам</a>

        <select ng-model="data.selectedOption"
                ng-options="option.name disable when option.disabled for option in data.availableOptions track by option.id"
                ng-change="update(data.selectedOption)">
        </select>
    </div>
    <div id="main" class="main">
        <div ng-view></div>
    </div>

    <script type="text/javascript" src="//vk.com/js/api/xd_connection.js?2"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/app.js"></script>
</body>
</html>


